services:
  postgres:
    image: postgres:16-alpine
    container_name: gtfs-postgres
    environment:
      POSTGRES_USER: gtfs
      POSTGRES_PASSWORD: gtfs_dev_password
      POSTGRES_DB: gtfs_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gtfs -d gtfs_db"]
      interval: 5s
      timeout: 5s
      retries: 5
  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    network_mode: host
    volumes:
      -  ./config/prometheus.yml:/etc/prometheus/prometheus.yml:Z
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data: